html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.course-body{
  height: 90vh;
  overflow-y: scroll;
  padding: 30px;
}

.course-nav{
  height: 90vh;
  overflow-y: scroll;
  background-color: #f2f2f2;

}

.Content{
  margin: 10px 50px;
}